name: Deploy

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version number"
        default: "0.0.0"
        required: true

jobs:
  build:
    name: "Build and Publish"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'

    - name: Build
      run: dotnet build -c Release

    - name: Pack
      run: dotnet pack -c Release -p:PackageVersion='${{ github.event.inputs.version }}' --output packages

    - name: Prepare Registry
      run: dotnet nuget add source --username carsten-computer-club --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/carsten-computer-club/index.json"

    - name: Publish to GitHub packages
      run: dotnet nuget push "packages/Jais.App.Packager.${{ github.event.inputs.version }}.nupkg" --api-key ${{ secrets.GITHUB_TOKEN }}  --source "github";

    - name: Create Release strings
      id: release_strings
      run: |
        echo "RELEASE_TAG=${{ github.event.inputs.version }}" >> $GITHUB_ENV
        echo "RELEASE_NAME=Version ${{ github.event.inputs.version }}" >> $GITHUB_ENV

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ env.RELEASE_TAG }}
        name: ${{ env.RELEASE_NAME }}
        body: ""
        files: "packages/Jais.App.Packager.${{ github.event.inputs.version }}.nupkg"
